# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build Files
dist/
build/

# OS Files
.DS_Store
Thumbs.db

# Vite
.vite

# Coverage
coverage/

# IDE
.vscode/
.idea/